@font-face {
    font-family: "Inconsolata";
    src: url(./fonts/Inconsolata-VariableFont_wdth\,wght.ttf);
}

@font-face {
    font-family: "Orbitron";
    src: url(./fonts/Orbitron-VariableFont_wght.ttf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    background-color: #171717;
}

nav {
    padding: 12px 32px 12px 32px;
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: space-between;
}

.logo {
    display: flex;
    flex-direction: row;
    gap: 8px;
    font-family: "Orbitron";
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0px;
    text-align: center;
    width: fit-content;
    align-items: center;
}


.logo-text {
    margin-top: 2px;
}

.navs {
    display: flex;
    flex-direction: row;
    gap: 30px;
    font-family: "Inconsolata";
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0px;
    align-items: center;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.connect {
    height: 43px;
    width: 104px;
    border-radius: 34px;
    padding: 12px 24px 12px 24px;
    background-color: #FFFFFF1A;
    border: none;
    color: #FFFFFF;
    margin-left: 10px;
}

button:hover {
    scale: 1.05;
    cursor: pointer;
}

.header-section{
width: 100%;
align-content: center;
display: flex;
justify-content: center;

}

.background{
    width: 100%;
    background-image: url(./images/header\ image.png);
    width: 1216px;
    height: 800px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
}

.header1{
    font-family: "Orbitron";
font-weight: 700;
font-style: Bold;
font-size: 120px;
line-height: 100%;
letter-spacing: 0px;
text-align: center;
color: white;
}

.subheader{
    font-family: "Inconsolata";
font-weight: 500;
font-style: Medium;
font-size: 32px;
line-height: 150%;
letter-spacing: 0px;
color: white;
text-align: center;
}

.section1{
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    gap:16px;
    align-items: center;
}

.card1{
    display: flex;
    flex-direction: row;
    border-radius:16px;
    width: 1216px;
    align-self: center;
}

.text-card{
    display: flex;
    flex-direction: column;
    padding: 40px 40px 40px 40px;
    gap: 12px;
    background-color: #222222;
    color: white;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
}

.main-text{
    font-family: "Orbitron";
font-weight: 500;
font-style: Medium;
font-size: 48px;
line-height: 100%;
letter-spacing: 0px;
}

.subtext{
    font-family: "Inconsolata";
font-weight: 500;
font-style: Medium;
font-size: 20px;
line-height: 150%;
letter-spacing: 0px;
}

.b1{
    font-family: "Inconsolata";
font-weight: 500;
font-style: Medium;
font-size: 20px;
line-height: 120%;
letter-spacing: 0px;
background-color: #EB5855;
border-radius: 61px;
padding: 16px 32px 16px 32px;
width: fit-content;
border: none;
color: white;
}

.subcards{
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.column{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.card2{
    width: 532px;
}

.f1{
    display: flex;
    flex-direction: column;
    background-color: #222222;
    border-radius: 16px;
}

.text-card2{
padding: 32px 32px 32px 32px;
display: flex;
flex-direction: column;
gap: 32px;
color: white;
}

.red{
    color: #EB5855;
}

.card4{
    width: 668px;
}

.box{
    width: 395px;
    height: 806px;
    display: flex;
    flex-direction: column;
}

.grid{
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(3,258px);
    grid-template-rows: repeat(3,258px);
}

.section2{
    display: flex;
    flex-direction: row;
    gap:15px;
    margin-top: 64px;
    justify-content: center;
    margin-bottom: 32px;
}

.box{
    color: white;
    width: 395px;
    height: 806px;
    padding: 32px 32px 364px 32px;
    background-color: #222222;
    gap: 12px;
    border-radius: 16px;
}

.box button{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.main-text2{
    font-family: Orbitron;
font-weight: 700;
font-style: Bold;
font-size: 40px;
line-height: 100%;
letter-spacing: 0px;
}

.subtext2{
    font-family: Inconsolata;
font-weight: 500;
font-style: Medium;
font-size: 20px;
line-height: 150%;
letter-spacing: 0px;
}

.a2:hover{
    scale: 1.02;
}

footer{
    color: white;
    height: 168px;
    padding: 34px 40px 34px 40px;
    display: flex;
    flex-direction: row;
    background-color: black;
    justify-content: space-between;
}

.socials-copy{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.socials{
    display: flex;
    flex-direction: row;
    gap:32px;
    font-family: Inconsolata;
font-weight: 500;
font-style: Medium;
font-size: 20px;
line-height: 120%;
letter-spacing: 0px;
}

.copy{
    font-family: Inconsolata;
font-weight: 500;
font-style: Medium;
font-size: 12px;
line-height: 120%;
letter-spacing: 0px;
}

.terms-and-use{
    display: flex;
    flex-direction: column;
    gap: 24px;
    font-family: Inconsolata;
font-weight: 500;
font-style: Medium;
font-size: 20px;
line-height: 120%;
letter-spacing: 0px;
align-items: end;
}

.tab-hide{
    display: none;
}
@media(max-width:1200px){
    body{
        width: 100%;
    }
    .hide{
        display: none;
    }
    nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .background{
        display: none;
    }
    .card1{
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        gap: 5px;
    }
    #c1i{
        border-radius: 8px;
        margin: 5px 8px 0px 8px;
    }
    .text-card{
        border-radius: 8px;
        margin: 0px 8px 0px 8px;
    }
    .subcards{
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        margin: 5px 8px 0px 8px;
    }
    .f1{
        width: 100%;
        border-radius: 8px;
        /* margin: 5px 8px 0px 8px; */
    }
    .column{
        width: 100%;
        padding: 0px 8px 0px 8px;
    }
    .text-card2{
        border-radius: 8px;
    }
    .section2{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0px 8px 0px 8px;
    }
    .grid{
        grid-template-columns: repeat(2,1fr);
        align-self: center;
    }
    .box{
        width: 100%;
        height: 100%;
     border-radius: 8px;
        padding-bottom: 20px;
    }
    .box-image{
        width: 100%;
        height: 100%;
    }
    .sub-cat{
        position: absolute;
        z-index: 1;
        scale: 0.5;
        margin-top: 350px;
        align-self: center;
    }
.header1{
        font-family: "Orbitron";
font-weight: 700;
font-style: Bold;
font-size: 80px;
line-height: 100%;
letter-spacing: 0px;
text-align: center;
color: white;
align-items: center;
}
.subheader{
    font-family: "Inconsolata";
font-weight: 300;
font-style: Medium;
font-size: 30px;
line-height: 100%;
letter-spacing: 0px;
}

}

@media(max-width:530px){
    .grid{
        grid-template-columns: repeat(1,1fr);
    }
    .main-text2{
        font-size: 25px;
    }
    .subtext2{
       font-size: 15px; 
    }

    .main-text{
        font-size: 30px;
    }
    .subtext{
        font-size: 15px;
    }
    .f2{
        font-size: 10px;
    }
    .f3{
        font-size: 8px;
    }
}